<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624865732455-0uqf72gt3e1mr913tgfa4jf1kt22p2rp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624865732455-0uqf72gt3e1mr913tgfa4jf1kt22p2rp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>624865732455-8nr0sdf4gbrmgihn2psp099s00q6oro4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHIqi-z-Tm3uMjtV8tzEwNlu-xEkEN4wo</string>
	<key>GCM_SENDER_ID</key>
	<string>624865732455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iu.greenPool</string>
	<key>PROJECT_ID</key>
	<string>staging-green-pool</string>
	<key>STORAGE_BUCKET</key>
	<string>staging-green-pool.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624865732455:ios:a35d44e89d714394e871c2</string>
	<key>DATABASE_URL</key>
	<string>https://staging-green-pool-default-rtdb.firebaseio.com</string>
</dict>
</plist>